html{
  height: 100%;
  margin: 0;
}
  
#content{
  margin:0 auto;
  display: grid;
}
body {
    background-image: url("/dist/eat.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: bottom; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0;

}

  
  
.nav{
        display: flex;
        margin-left: 30%;
        text-align: center;
        }
  
.nav-item, .art{
        color: white;
        font-family: monospace;
        font-size: 24px;
        padding-right: 0px;

}

.nav-item{
text-align: center;
font-style: italic;
background-color: black;
border: solid .1em wheat;
width: 25%;


}
  

.art{
  text-align: center;
  width: 100%;
  background-color: black;
  border-bottom: solid wheat;
  border-top: solid black;
  font-size: 24px;
}
.row{
  
  text-align: start;
  font-size: 32px;
  color:white;
  width: 50%;
  height: 35px;
  border: solid wheat;
}


.menu-grid{
  display: grid;
  visibility: hidden;
  margin-left: 35%;
}

section{
  position: absolute;
  color: white;
  width: 250px;
  height: 250px;
  top: 200px;
  border: solid wheat;
  font-size: 18px;
  line-height: 25px;
}


.form{
  visibility: hidden;
  color: white;
  position: absolute;
  border: solid wheat;
  width: 250px;
  height: 250px;
  right: 5%;
  top:130px;
  font-size: 20px;
  
}