html{
  height: 100%;
  margin: auto;
  width: 70vw;
}
  
#content{
  display: grid;
}
body {
    background: url("/dist/eat.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: auto; /* You must set a specified height */
    background-position: bottom; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    max-width: 100%;
    background-origin: content-box;

}

  
  
.nav{
        top: 88%;
        display: flex;
        margin-left: 30%;
        text-align: center;
        }
  
.nav-item, .art{
        color: white;
        font-family: monospace;
        font-size: 24px;

}

.nav-item{
text-align: center;
font-style: italic;
background-color: black;
border: solid .1em wheat;
width: 25%;


}
  

.art{
  text-align: center;
  width: 100%;
  background-color: black;
  border-bottom: solid wheat;
  border-top: solid black;
  font-size: 24px;
  margin: 0;
}
.row{
  
  text-align: start;
  font-size: 32px;
  color:white;
  width: 50%;
  height: 35px;
  border: solid wheat;
}


.menu-grid{
  display: grid;
  visibility: hidden;
  margin-left: 30%;
  width: 90%;
}

section{
  position: absolute;
  color: white;
  width: 250px;
  height: 80%;
  top: 135px;
  border: solid wheat;
  font-size: 18px;
  line-height: 35px;

  left: 0%;
}


.form{
  visibility: hidden;
  color: white;
  position: absolute;
  border: solid wheat;
  width: 250px;
  height: 250px;
  right: .5%;
  top:160px;
  font-size: 20px;
  
}

h4{
  text-align: center;
  font-size: 18px;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}